<!doctype html>
<html lang="en" ng-app="PharmFinder">
  <head>
    <meta charset="utf-8">
    <title>Serket App</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="index.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/pharmFinderController.js"></script>
    <script src="js/pharmSearchFactory.js"></script>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'>
    <script src="https://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.js"></script>
    <script src="https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js"></script>
    <link href="https://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.css" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css" rel="stylesheet">
  </head>

  <body ng-controller="PharmFinderController as searchCtrl">
    <div class="container-fluid">
      <nav class="navbar-inverse navbar-fixed-top sticky">
        <div class="row">
          <h2 class="title"><img src="images/serket.png" alt="serket logo" style="width:115px;height:40px;">   Pharmacy Search</h2>
        </div>
      </nav>
      <div class="row">
        <div class="col-md-6">
          <div class='tableSection'>
            <form class="form-horizontal">
              Search:
              <input type="text" ng-model="search.name" placeholder="Phamacy Name:">
              <input type="text" ng-model="search.address" placeholder="Address:">
              <input type="text" ng-model="search.NACS" placeholder="NACS">
            </form>
          <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <td>
                Name
              </td>
              <td>
                NACS
              </td>
              <td>
                Address
              </td>
              <td>
                Telephone number
              </td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="pharmacy in searchCtrl.searchResult | filter:search:strict | limitTo: 50">
              <td>{{ pharmacy.name }}</td>
              <td>{{ pharmacy.NACS }}</td>
              <td><button class="addressLink" onclick="mapAddress()">{{pharmacy.address}}</button></td>
              <td>{{ pharmacy.telephone}}</td>
            </tr>
          </tbody>
        </table>
      </div>
        </div>
        <div class="col-md-6">
        <div id="map"></div>
        <script src="js/map.js"></script>
      </div>
    </div>
  </body>
</html>
